---
extends: default

rules:
  line-length:
    max: 160
    level: warning

  truthy:
    allowed-values: ['true', 'false']
    check-keys: true

  comments:
    min-spaces-from-content: 1

  comments-indentation: false

  braces:
    max-spaces-inside: 1

  brackets:
    max-spaces-inside: 1

  indentation:
    spaces: 2
    indent-sequences: true

  document-start:
    present: true

  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true

ignore: |
  .github/
  .venv/
  molecule/default/.molecule/
  tests/roles/
