---

- name: get the current kernel release.
  ansible.builtin.command: uname -r
  changed_when: false
  register: kernel_release

- name: Detect container runtime (dockerenv)
  ansible.builtin.stat:
    path: /.dockerenv
  register: dockerenv_stat
  changed_when: false

- name: Detect container runtime (containerenv)
  ansible.builtin.stat:
    path: /run/.containerenv
  register: containerenv_stat
  changed_when: false

- name: Set container fact
  ansible.builtin.set_fact:
    is_container: >-
      {{ (dockerenv_stat.stat.exists | default(false)) or (containerenv_stat.stat.exists | default(false)) }}

- name: ensure apt cache is updated
  ansible.builtin.apt:
    update_cache: true
    force_apt_get: true
    cache_valid_time: 3600

- name: ensure kernel headers are installed
  ansible.builtin.apt:
    name: linux-headers-{{ ansible_kernel | default(kernel_release.stdout) }}
    state: present
  when:
    - (install_kernel_headers | default(true)) | bool
    - (ansible_virtualization_type | default('')) not in ['docker', 'container', 'podman']
    - not (is_container | default(false))

- name: configure SSH daemon
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  loop:
    - regexp: '^UseDNS'
      line: 'UseDNS no'
    - regexp: '^GSSAPIAuthentication'
      line: 'GSSAPIAuthentication no'

# Local user SSH configuration.
- name: configure local user .ssh directory
  ansible.builtin.file:
    path: /home/{{ local_account_username }}/.ssh
    state: directory
    owner: "{{ local_account_username }}"
    group: "{{ local_account_username }}"
    mode: '0700'

- name: get Vagrant's public key
  ansible.builtin.get_url:
    url: https://github.com/hashicorp/vagrant/raw/master/keys/vagrant.pub
    dest: /home/{{ local_account_username }}/.ssh/authorized_keys
    owner: "{{ local_account_username }}"
    group: "{{ local_account_username }}"
    mode: '0600'
  failed_when: false
  when: target_vagrant | bool

- name: ovirt agent
  ansible.builtin.include_tasks: ovirt.yml
  when: target_ovirt | bool

- name: tart guest agent
  ansible.builtin.include_tasks: tart.yml
  when:
    - (target_tart | default(false)) | bool
    - not (is_container | default(false))

# VirtualBox tools installation
- name: check if VirtualBox is running the guest VM
  ansible.builtin.stat:
    path: /home/{{ local_account_username }}/.vbox_version
  register: virtualbox_check

- name: virtualbox guest additions
  ansible.builtin.include_tasks: virtualbox.yml
  when: virtualbox_check.stat.exists

- name: vmware tools
  ansible.builtin.include_tasks: vmware.yml
  when:
    - ansible_virtualization_type is defined
    - ansible_virtualization_type == 'VMware'

- name: parallels tools
  ansible.builtin.include_role:
    name: "{{ parallels_tools_role }}"
  when: ('Parallels' in (ansible_product_name | default('', true))) or (ansible_product_name == None and 'Parallels' in ansible_interfaces[0].interface_name)

- name: remove unneeded packages
  ansible.builtin.include_tasks: remove_packages.yml

- name: clean up apt
  ansible.builtin.command: "{{ item }}"
  changed_when: false
  loop:
    - apt-get -y autoremove
    - apt-get -y clean

- name: Ensure /etc/machine-id exists and is empty (Ubuntu)
  ansible.builtin.copy:
    dest: /etc/machine-id
    content: ''
    mode: '0644'
  when:
    - (configure_netplan | default(true)) | bool
    - (reset_machine_id | default(true)) | bool
    - ansible_distribution == 'Ubuntu'

- name: Ensure /var/lib/dbus exists
  ansible.builtin.file:
    path: /var/lib/dbus
    state: directory
    mode: '0755'
  when:
    - (configure_netplan | default(true)) | bool
    - (reset_machine_id | default(true)) | bool
    - ansible_distribution == 'Ubuntu'

- name: Ensure netplan machine-id link exists
  ansible.builtin.file:
    src: /etc/machine-id
    dest: /var/lib/dbus/machine-id
    state: link
    force: true
  when:
    - (configure_netplan | default(true)) | bool
    - (reset_machine_id | default(true)) | bool
    - ansible_distribution == 'Ubuntu'

- name: Ensure /etc/netplan exists
  ansible.builtin.file:
    path: /etc/netplan
    state: directory
    mode: '0755'
  when:
    - (configure_netplan | default(true)) | bool
    - ansible_distribution == 'Ubuntu'

- name: Ensure DHCP is used
  ansible.builtin.template:
    src: 00-installer-config.yaml.j2
    dest: /etc/netplan/00-installer-config.yaml
    mode: '0644'
  when:
    - (configure_netplan | default(true)) | bool
    - ansible_distribution == 'Ubuntu'

- name: Cloud init
  ansible.builtin.include_tasks: cloud-init.yml
  when: (target_ovirt | bool) or (enable_cloud_init | bool)

- name: Grow partition
  ansible.builtin.include_tasks: grow_part.yml
  when:
    - not (target_ovirt | bool)
    - (enable_grow_part | default(true)) | bool

- name: Remove ssh-host files
  ansible.builtin.command: rm -fr /etc/ssh/ssh_host_*
  changed_when: false
  no_log: true

- name: Create generate-ssh-host-key.service
  ansible.builtin.copy:
    src: generate-ssh-host-key.service
    dest: /etc/systemd/system/generate-ssh-host-key.service
    mode: '0755'

- name: Enable generate-ssh-host-key.service
  ansible.builtin.systemd:
    name: generate-ssh-host-key
    enabled: true

- name: Zero out the rest of the free space
  ansible.builtin.command: dd if=/dev/zero of=/tmp/EMPTY bs=1M
  register: create_free_space
  changed_when: true
  become: false
  failed_when:
    - create_free_space.rc > 0
    - ('No space left on device' not in create_free_space.stderr)
  when:
    - (zero_free_space | default(true)) | bool
    - (ansible_virtualization_type | default('')) not in ['docker', 'container', 'podman']
    - not (is_container | default(false))

- name: Fill empty space
  block:
    - name: Ensure EMPTY doesn't exist
      ansible.builtin.raw: rm -f /tmp/EMPTY && sync
      changed_when: true
      register: remove_empty
      until: remove_empty is success
      delay: 3
      retries: 10
      become: false
  rescue:
    - name: Ignore any errors
      ansible.builtin.debug:
        msg: 'ignoring error...'
  when:
    - (zero_free_space | default(true)) | bool
    - (ansible_virtualization_type | default('')) not in ['docker', 'container', 'podman']
    - not (is_container | default(false))
