---

- name: gather package facts
  ansible.builtin.package_facts:
    manager: auto

- name: set fact for -dev packages
  ansible.builtin.set_fact:
    dev_packages: >-
      {{ ansible_facts.packages
         | dict2items
         | selectattr('key', 'match', '.*-dev$')
         | map(attribute='key')
         | list
         | difference(skip_dev_packages | default([])) }}

- name: remove -dev packages
  ansible.builtin.apt:
    name: "{{ item }}"
    state: absent
    purge: true
  loop: "{{ dev_packages }}"
  register: remove_dev_packages
  failed_when: false
  when: dev_packages is defined and dev_packages | length > 0

- name: debug failed packages
  ansible.builtin.debug:
    msg: |
      Failed to remove some packages:
      {% for package in _failed_packages %}
        - {{ package }}
      {% endfor %}
  when:
    - remove_dev_packages.results is defined
    - _failed_packages | length > 0
  vars:
    _failed_packages: >-
      {{ remove_dev_packages.results
         | selectattr('rc', 'defined')
         | selectattr('rc', 'ne', 0)
         | map(attribute='item')
         | list }}
