---
- name: create temporary directories for VMware tools.
  ansible.builtin.file:
    path: "/tmp/{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - vmfusion
    - vmfusion-archive

- name: mount VMware tools.
  ansible.posix.mount:
    name: /tmp/vmfusion
    src: /home/{{ local_account_username }}/linux.iso
    fstype: iso9660
    opts: loop
    state: mounted

- name: find any VMwareTools file.
  ansible.builtin.find:
    paths: /tmp/vmfusion
    patterns: "^VMwareTools-*.tar.gz"
    use_regex: true
  register: vmware_tools_files

- name: install vmware tools
  block:
    - name: decompress VMware Tools installer into archive folder
      ansible.builtin.unarchive:
        src: "{{ vmware_tools_files.files[0] }}"
        dest: /tmp/vmfusion-archive
        remote_src: true

    - name: run the VMware tools installer  # noqa command-instead-of-shell
      ansible.builtin.shell: /tmp/vmfusion-archive/vmware-tools-distrib/vmware-install.pl --default
      args:
        executable: /bin/bash
      register: vmtools_installer_output
      changed_when: false

    - name: run the VMware tools installer with --force-install  # noqa command-instead-of-shell
      ansible.builtin.shell: /tmp/vmfusion-archive/vmware-tools-distrib/vmware-install.pl --default --force-install
      args:
        executable: /bin/bash
      changed_when: false
      when: vmtools_installer_output.stdout.find('open-vm-tools') != -1

  when: vmware_tools_files.matched > 0

- name: unmount VMware tools.
  ansible.posix.mount:
    name: /tmp/vmfusion
    src: /home/{{ local_account_username }}/linux.iso
    fstype: iso9660
    state: absent

- name: remove temporary directories for VMware tools.
  ansible.builtin.file:
    path: "/tmp/{{ item }}"
    state: absent
  loop:
    - vmfusion
    - vmfusion-archive

- name: delete VMware Tools.
  ansible.builtin.file:
    path: /home/{{ local_account_username }}/linux.iso
    state: absent
